
.section-1{
    display: flex;
    padding: 10px 20px;
    margin-top:20px ;
}

.table1{
    width: 250px;
    height: 70px;
    background-color: #fff;
    margin-bottom: 8px;
}
.box{
    border-radius: 10px;
}
.table2{
    width: 250px;
    height: 77px;
    background-color: #fff;
    margin-bottom: 8px;
}
.table3{
    width: 250px;
    height: 380px;
    background-color: #fff;
}
.section-right{
}
.table4{
    width: 680px;
    height: 543px;
    background-color: #fff;
    margin-left: 10px ;
}
.section-2{
    display: flex;
    width: 940px;
    height: 450px;;
    border-radius: 10px;
    background-color: #fff;
    margin:20px;
}
.DatePicker{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
}
.machine-tablebox{
    padding-top:5px;
    margin: 0px 15px;
}
.button-viewalltransactions{
    display: flex;
    background:none;
    border: none;
    color: #5B6C8F;
    cursor: pointer;  
}
.button-viewalltransactions:hover{
    color: #88CEEF;
}
.viewalltransactions{
    display: flex;
    justify-content: center;
}
.transactions-chart{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
}
.Revenue-SearchBar{


}
.Rmachine-paginations{
    padding-top: 20px;
}