
.user-table{
   display: flex;
   border-radius: 10px;
   margin:20px;
}
.user-table {
   flex-grow: 1;
 }
 
 .button_add_user {
   margin-top: 20px; /* Ensure 20px spacing below Userpaginations */
   display: flex;
   justify-content: center; /* Center the button horizontally if needed */
 }