.login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-image {
    background-color: #f0f0f0; /* Fallback nếu không có ảnh */
  }
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
  }
  .login-title {
    font-weight: bold;
  }
  
  .login-form-container button {
    margin-top: 8px;
  }
  
  