
.header{
    height: 30px;
    margin-bottom: 10px;
}
.reload{
    float: right;
}
.machine-2{
    display: flex;
}
.machine-active{
   width: 940px;
   height: 550px;
   border-radius: 10px;
   margin:30px;
}

.section2-machine-active{
    padding: 10px;
}
.chart-size{
    width: 900px;;
}
.available {
    background-color: #d4edda; /* Màu xanh lá */
    color: #155724;
}

.not-connected {
    color: #721c24;
}
.usagechart-container{
        width: 90%;
        height: 400px;
        margin: 0 auto;
        padding: 20px;
}
.usage-history-list{
    width: 920px;
    height: 450px;;
    border-radius: 10px;
    background-color: #fff;
    margin:20px;
}
.button-addmachine{
    float: right;
    cursor: pointer;
    background:#fff;
    border: none;
    margin: 10px;
    padding:10px;
    padding-inline: 40px;
    border-radius: 4px;
    background-color:#3498db;
    color: white;
}
.month-comparison-chart{
    width: 900px;
    height: 400px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
}