html, body {
  height: 100%; /* Đảm bảo body chiếm hết chiều cao */
  overflow: hidden; /* Ẩn thanh cuộn của toàn bộ trang */
}

/* CSS tổng thể cho layout */
.container {
  display: flex; /* Sử dụng flexbox để sắp xếp sidebar và dashboard bên cạnh nhau */
  height: 100vh; /* Chiều cao bằng chiều cao màn hình */
  overflow: hidden; /* Ẩn thanh cuộn của container */
}
.hidden {
  display: none;
}
/* CSS cho Sidebar */
.sidebar {
  height: 100%; /* Chiều cao sidebar bằng chiều cao của màn hình */
  width: 280px; /* Độ rộng của sidebar */
  background-color: #fff; /* Màu nền của sidebar */
  padding-top: 20px; /* Khoảng cách trên */
  position: fixed; /* Cố định vị trí sidebar */
  left: 0; /* Đặt sidebar ở bên trái */
  top: 0; /* Đặt sidebar ở trên cùng */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); /* Thêm bóng đổ */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
}

/* CSS cho Dashboard */
.dashboard,.machine-status,.revenue,.user,.change,.alert,.transactions{
  margin-left: 280px; /* Đẩy dashboard ra bên phải để không bị chồng lên sidebar */
  background-color: #F0F8FF; /* Màu nền của dashboard */
  flex: 1; /* Chiếm không gian còn lại */
  overflow-y: auto; /* Cho phép cuộn dọc */
  height: 100vh; /* Chiều cao bằng chiều cao màn hình */
}

